body {
  margin: 0;
  height: 100vh;
  background: #2f323a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.hint {
  margin-top: 20px;
  color: white;
  opacity: 0.8;
  align-items: center;
  text-align: center;
}

/* ENVELOPE */

.letter-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: relative;
}

.animated-mail {
  position: relative;
  width: 200px;
  height: 150px;
  transition: transform 0.4s;
}

/* BODY */
.body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #e95f55 transparent;
  z-index: 2;
}

/* TOP FOLD */
.top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  border-color: #cf4a43 transparent transparent transparent;
  transform-origin: top;
  transition: transform 0.4s;
  z-index: 3;
}

/* BACK */
.back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #cf4a43;
  z-index: 0;
}

/* LEFT */
.left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #e15349;
  z-index: 2;
}

/* LETTER */
.letter {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 160px;
  height: 80px;
  background: white;
  z-index: 1;
  transition: transform 0.6s ease;
}

.letter-border {
  height: 10px;
  background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 8px,
    transparent 8px,
    transparent 18px
  );
}

/* SHADOW */
.shadow {
  position: absolute;
  top: 160px;
  width: 200px;
  height: 20px;
  background: radial-gradient(rgba(0,0,0,0.4), transparent);
  transition: width 0.4s;
}

/* OPEN STATE */
.open .top-fold {
  transform: rotateX(180deg);
  z-index: 0;
}

.open .letter {
  transform: translateY(-90px);
}

.open .shadow {
  width: 140px;
}

..butterflies {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.butterfly {
  position: absolute;
  width: 40px;
  height: 40px;
  color: hotpink;
  animation: fly 16s infinite ease-in-out;
}

.butterfly svg {
  width: 100%;
  height: 100%;
}

.wing path {
  fill: hotpink;
}

/* QANOT QOQISH */
.wing {
  transform-origin: center;
  animation: flap 0.15s infinite alternate ease-in-out;
}

@keyframes flap {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(50deg); }
}

/* UCHISH */
@keyframes fly {
  0%   { transform: translate(0,0); }
  25%  { transform: translate(80px,-60px); }
  50%  { transform: translate(-60px,40px); }
  75%  { transform: translate(40px,-30px); }
  100% { transform: translate(0,0); }
}

/* HAR BIRI HAR XIL JOYDA */
.butterfly:nth-child(1){ top:40%; left:45%; animation-duration:18s;}
.butterfly:nth-child(2){ top:30%; left:60%; animation-duration:22s;}
.butterfly:nth-child(3){ top:55%; left:65%; animation-duration:20s;}
.butterfly:nth-child(4){ top:60%; left:40%; animation-duration:24s;}
.butterfly:nth-child(5){ top:35%; left:35%; animation-duration:19s;}
.butterfly:nth-child(6){ top:25%; left:50%; animation-duration:21s;}
